<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492192444836-ta28e0kbit0uocdki82gfrtl8bvlgtam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492192444836-ta28e0kbit0uocdki82gfrtl8bvlgtam</string>
	<key>API_KEY</key>
	<string>AIzaSyDtRPvyx0lb1LvrNtalr3ewDPDb990Gdvk</string>
	<key>GCM_SENDER_ID</key>
	<string>492192444836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhuntleyinc.Goat</string>
	<key>PROJECT_ID</key>
	<string>goat-85d42</string>
	<key>STORAGE_BUCKET</key>
	<string>goat-85d42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492192444836:ios:728da040c4413629c41131</string>
</dict>
</plist>